


    <div class="image-container">
        <img class="design" src="/images/design.jpg" alt="design" style="width: 100%;"/>
        <div class="centered"><h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, quidem ab, assumenda nam esse dicta, illum illo quae delectus perferendis doloremque porro enim cum numquam distinctio qui temporibus. Modi, nemo.</h4> 
        </div>
        <div class="bottom-left"><h2>BRAND</h2><button class="image-btn">View Collection</button></div>
    </div>


        <div class="retail-title-container">
              <p><h3>Retail</h2></p>
        </div>

    <div class="container">  
              <div class="retail-container">
                  <div class="retail-item">
                    
                    <% if(paintings != '') { %>
                        <% paintings.forEach(function(paintings) { %>
                        
                            <a href="/prints/<%= paintings._id %> ">
                                <img src="<%- paintings.imageURL %>" alt="<%- paintings.name %>" loading="lazy">   
                            </a>
                            
                        <% }) %>
                    <% } %>

                  </div>
              </div>
    </div>
