    <div class="drop-down-container">

        <div class="title-container">
            <a href="/new-arrival"><button class="drop-down-btn">New Arrivals</button></a>
            <a href="/signup"><button class="drop-down-btn">Collections</button></a>
        </div>

        <div class="title-container">
             <h1>Studio</h1>
        </div>       

        <div class="title-container">
            <a href="/login"><button class="drop-down-btn">Login</button></a>
            <a href="/signup"><button class="drop-down-btn">Signup</button></a>
        </div>
     
    </div>


    <div class="image-container">
        <img class="design" src="/images/design.jpg" alt="design" />
        <div class="centered"><h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, quidem ab, assumenda nam esse dicta, illum illo quae delectus perferendis doloremque porro enim cum numquam distinctio qui temporibus. Modi, nemo.</h4> 
        </div>
        <div class="bottom-left"><h2>BRAND</h2><button class="image-btn">View Collection</button></div>
    </div>

        <div class="retail-container">
            retail
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero atque animi dolorum praesentium excepturi iste molestias iure sit, numquam repellendus quidem? Debitis facere, ex eaque at culpa eius sit autem.
    </div>